.FrontPage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .5em;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

@media screen and (max-width: 900px) {
  .FrontPage {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  .FrontPage {
    grid-template-columns: 1fr;
  }
}
