.pokemon-card {
  background-color: #d2d2d2;
  color: #2d2d2d;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 12em;
  height: 16.3em;
  border-radius: 7px;
}

#pokemon-card-title {
  display: inline-block;
  justify-content: space-between;
  flex-direction: column;
}

#pokemon-card-id {
  display: inline-block;
}

#pokemon-card-name {
  display: inline-block;
}

#pokemon-card-type-value {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
}

#pokemon-card-type-label {
  display: flex;
  justify-content: center;
}

#pokemon-card-image {
  align: center;
}
