.pokemon-card {
  background-color: #d2d2d2;
  color: #2d2d2d;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 12em;
  border-radius: 7px;
}

#pokemon-card-id {
  display: inline-block;
}

#pokemon-card-name {
  display: inline-block;
}

#pokemon-card-type {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#pokemon-card-type-label {
  color: red;
  background-color: cyan;
}

.pokemon-card-type-value {
  background-color: green;
  margin: 2px;
  display: inline-block;
}

#pokemon-card-image {
  align: center;
}
